// **   Color Palettes   **
// ************************

$xpo-white: (
  white: #ffffff
);

$xpo-black: (
  black-brand: #1c1e1c
);

$xpo-grey: (
  grey-1: #fafafa,
  grey-2: #f5f5f5,
  grey-3: #eee,
  grey-4: #dfdfdf,
  grey-5: #bdbdbd,
  grey-6: #9e9e9e,
  grey-7: #858585,
  grey-8: #424242,
  grey-9: #333,
  grey-10: #212121
);

$xpo-red: (
  red: #d50000,
  red-brand: #cc0000,
  red-hover: #b10000
);

$xpo-orange: (
  orange: #ff6d00
);

$xpo-yellow: (
  yellow: #ffd600
);

$xpo-green: (
  green: #00c853,
  green-success: #66bb6a
);

$xpo-blue: (
  blue: #0091ea,
  blue-light: #80d8ff,
  blue-origin: #01579b,
  blue-destination: #00b0ff
);

$xpo-purple: (
  purple: #aa00ff,
  purple-deep: #6200ea
);
